<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head-meta.html" . }}
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Prompt:wght@700&display=swap" rel="stylesheet">
</head>
<body class="page">
  {{ partial "nav.html" }}
  <main class="main-content">
      <div class="container">
        <div class="page-content">
            {{ block "main" . }}{{ end }}
        </div>
    </div>
  </main>
  {{ partial "footer.html" (dict "description" "your favourite bird blog") }}
</body>
</html>