<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head-meta.html" . }}
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Prompt:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
</head>
<body class="page">
  {{ partial "nav.html" }}
  <main class="main-content">
      <div class="container">
        <div class="page-content">
            {{ block "main" . }}{{ end }}
        </div>
    </div>
  </main>
  {{ partial "footer.html" (dict "description" "your favourite bird blog") }}
</body>
</html>