<div class="contact">
    <h2 class="contact__heading">{{ with .Get "title" }}{{ . }}{{ else }}Our amazing team{{ end }}</h2>
    <p>If you think you've spotted an endangered species, please contact one of our friendly staff to let them know.</p>
</div>
<div class="staff">
    {{ range .Site.Data.staff }}
        <div class="staff-member">
            <img class="staff-member__image" src="{{ .image }}">
            <div>
                <p class="staff-member__name">{{ .name }}</p>
                <p>Contact options: </p>
                <ul class="staff-member__contacts">
                    <li><a class="option" href="#">Email</a></li>
                    <li><a class="option" href="#">Facebook</a></li>
                    <li><a class="option" href="#">Twitter</a></li>
                </ul>
            </div>
        </div>
    {{ end }}
</div>